@using Epam.Task11_12.WebPagesPL.CS;

@{
    if (!User.IsInRole("admin"))
    {
        Response.Redirect("~");
    }

    Layout = "~/_MainLayout.cshtml";
    Page.Title = "User image";

    var messageToAdmin = string.Empty;
    var errorMessage = "Cannot to add user image";

    if (IsPost)
    {
        WebImage photo = WebImage.GetImageFromRequest();
        int.TryParse(Request.Params["user_id"], out var id);

        if (id > 0 && photo != null)
        {
            var user = BLLProvider.userLogic.GetById(id);

            if (user != null)
            {
                //WebHelper.WorkWithImage(photo, 60, 60);

                BLLProvider.userLogic.AddImage(user.Id, photo.GetBytes());

                messageToAdmin = "User image was added";
            }
            else
            {
                messageToAdmin = errorMessage;
            }
        }
        else
        {
            messageToAdmin = errorMessage;
        }
    }
}

@*@section styles {
    
}*@

<section class="content">
    <div class="form">
        <form method="post" id="form" enctype="multipart/form-data">

            <div class="option">
                <label for="user_id">Enter user ID:</label>
                <input type="number" id="user_id" name="user_id" required />
            </div>

            <div class="option">
                <label for="image">Image</label>
                <input type="file" id="image" name="image" accept="image/jpeg,image/png,image/gif" />
            </div>

            <button type="submit" id="submit">Add user image</button>
        </form>
    </div>

    <div id="result">@messageToAdmin</div>
</section>