@using Epam.Task11_12.WebPagesPL.CS;

@{
    if (!User.IsInRole("admin"))
    {
        Response.Redirect("~");
    }

    Layout = "~/_MainLayout.cshtml";
    Page.Title = "User image";

    var messageToAdmin = string.Empty;
    var errorMessage = "Cannot to delete user image";

    if (IsPost)
    {
        int.TryParse(Request.Params["user_id"], out var id);

        if (id > 0)
        {
            var user = BLLProvider.userLogic.GetById(id);

            if (user != null && user.Image != null)
            {
                BLLProvider.userLogic.RemoveImage(id);

                messageToAdmin = "User image was deleted";
            }
            else
            {
                messageToAdmin = errorMessage;
            }
        }
        else
        {
            messageToAdmin = errorMessage;
        }
    }
}

@*@section styles {
    
}*@

<section class="content">
    <div class="form">
        <form method="post" id="form" enctype="multipart/form-data">

            <div class="option">
                <label for="user_id">Enter user ID:</label>
                <input type="number" id="user_id" name="user_id" required />
            </div>

            <button type="submit" id="submit">Delete user image</button>
        </form>
    </div>

    <div id="result">@messageToAdmin</div>
</section>