@using Epam.Task11_12.WebPagesPL.CS;

@{
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "Show Users";
    var users = BLLProvider.userLogic.GetAll();
}

@section styles {
    <style>
        .user_info {
            display: inline;
        }
        .award_info {
            display: inline;
        }
        .user_photo {
            height: 60px;
            width: 60px;
        }
        .award_photo {
            height: 40px;
            width: 40px;
        }
        img {
            background-color: darkgray;
            vertical-align: middle;
            margin: 2px 2px;
        }
        li {
            list-style-type: none;
        }
        h4 {
            margin: 2px 2px;
        }
    </style>
}

<section class="content">
    <h4>Users count: @users.Count()</h4>
    <ul>
        @foreach (var user in users)
        {
            <li>
                @RenderPage("/Pages/Partial/_UserInfoPartial.cshtml", new { User = user })
            </li>
        }
    </ul>
</section>