@using Epam.Task11_12.WebPagesPL.CS;

@{
    if (!User.IsInRole("admin"))
    {
        Response.Redirect("~");
    }

    Layout = "~/_MainLayout.cshtml";
    Page.Title = "Award image";

    var messageToAdmin = string.Empty;
    var errorMessage = "Cannot to delete award image";

    if (IsPost)
    {
        int.TryParse(Request.Params["award_id"], out var id);

        if (id > 0)
        {
            var award = BLLProvider.awardLogic.GetById(id);

            if (award != null && award.Image != null)
            {
                BLLProvider.awardLogic.RemoveImage(id);

                messageToAdmin = "Award image was deleted";
            }
            else
            {
                messageToAdmin = errorMessage;
            }
        }
        else
        {
            messageToAdmin = errorMessage;
        }
    }
}

@*@section styles {
    
}*@

<section class="content">
    <div class="form">
        <form method="post" id="form" enctype="multipart/form-data">

            <div class="option">
                <label for="award_id">Enter award ID:</label>
                <input type="number" id="award_id" name="award_id" required />
            </div>

            <button type="submit" id="submit">Delete award image</button>
        </form>
    </div>

    <div id="result">@messageToAdmin</div>
</section>