@using Epam.Task11_12.WebPagesPL.CS;

@{
    if (!User.IsInRole("admin"))
    {
        Response.Redirect("~");
    }

    Layout = "~/_MainLayout.cshtml";
    Page.Title = "All awards";
    var awards = BLLProvider.awardLogic.GetAll();
}

@section styles {
    <style>
        .award_info {
            display: inline;
        }

        .award_photo {
            height: 40px;
            width: 40px;
        }

        img {
            background-color: darkgray;
            vertical-align: middle;
            margin: 2px 2px;
        }

        li {
            list-style-type: none;
        }

        h4 {
            margin: 2px 2px;
        }
    </style>
}

<section class="content">
    <h4>Awards count: @awards.Count()</h4>
    <ul>

        @foreach (var award in awards)
        {
            <li>
                <img src="@WebHelper.GetAwardImagePath(award)" class="award_photo" alt="award photo" />
                <div class="award_info">
                    @award.ToString()
                </div>
            </li>
        }
    </ul>
</section>