@{
    Layout = "/_MainLayout.cshtml";
    Page.Title = "User awards";
}

@*@section styles {
}*@

<div id="admin_data">
    <hr /><br />
    <h2>You can log in like admin</h2>
    <h2>login: admin</h2>
    <h2>password: admin</h2>
    <br />
</div>