@{
    Layout = "/_MainLayout.cshtml";
    Page.Title = "User awards";
}

@*@section styles {
    
}*@

<div id="admin_data" style="margin-left: 20px">
    <h2>You can log in as admin</h2>
    <br />
    <h2>login: admin</h2>
    <h2>password: admin</h2>
    <br />
</div>