body {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 20px;
    width: 380px;
    background: bisque;
}

.wrapper article {
    display: inline-block;
    text-align: center;
    margin: 10px
}

.optionsField select {
    width: 130px;
    height: 130px;
}

.optionsField option {
    font-size: 14px;
}

.buttons {
    vertical-align: super;
}

.buttons button {
    display: block;
    width: 40px;
    height: 30px;
    margin: 3px;
    font-size: 16px;
}