USE [master]
GO
/****** Object:  Database [UserAwards]    Script Date: 24.02.2019 7:12:25 PM ******/
CREATE DATABASE [UserAwards]
 CONTAINMENT = NONE

ALTER DATABASE [UserAwards] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserAwards].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserAwards]
GO
USE [UserAwards]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 24.02.2019 7:12:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Login] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](256) NOT NULL,
	[Email] [nvarchar](80) NOT NULL,
	[Role] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Award]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Award](
	[Id_Award] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Award] PRIMARY KEY CLUSTERED 
(
	[Id_Award] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AwardedUser]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AwardedUser](
	[Id_User] [int] NOT NULL,
	[Id_Award] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id_User] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([Id], [Login], [Password], [Email], [Role]) VALUES (0, N'admin', N'C7AD44CBAD762A5DA0A452F9E854FDC1E0E7A52A38015F23F3EAB1D80B931DD472634DFAC71CD34EBC35D16AB7FB8A90C81F975113D6C7538DC69DD8DE9077EC', N'admin@mail.ru', N'admin')
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[Award] ON 

INSERT [dbo].[Award] ([Id_Award], [Title], [Image]) VALUES (2, N'Silver', NULL)
INSERT [dbo].[Award] ([Id_Award], [Title], [Image]) VALUES (3, N'The best', NULL)
SET IDENTITY_INSERT [dbo].[Award] OFF
INSERT [dbo].[AwardedUser] ([Id_User], [Id_Award]) VALUES (1, 1)
INSERT [dbo].[AwardedUser] ([Id_User], [Id_Award]) VALUES (1, 2)
INSERT [dbo].[AwardedUser] ([Id_User], [Id_Award]) VALUES (2, 2)
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id_User], [Name], [DateOfBirth], [Image]) VALUES (2, N'Bob', CAST(N'1996-03-01' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[AwardedUser]  WITH CHECK ADD  CONSTRAINT [FK_AwardedUser_Award] FOREIGN KEY([Id_Award])
REFERENCES [dbo].[Award] ([Id_Award])
GO
ALTER TABLE [dbo].[AwardedUser] CHECK CONSTRAINT [FK_AwardedUser_Award]
GO
ALTER TABLE [dbo].[AwardedUser]  WITH CHECK ADD  CONSTRAINT [FK_AwardedUser_User] FOREIGN KEY([Id_User])
REFERENCES [dbo].[User] ([Id_User])
GO
ALTER TABLE [dbo].[AwardedUser] CHECK CONSTRAINT [FK_AwardedUser_User]
GO
/****** Object:  StoredProcedure [dbo].[AddAward]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddAward]
@Title nvarchar(100)
AS
BEGIN
	INSERT INTO Award(Title)
	VALUES (@Title)
	SELECT SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[AddAwardedUser]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddAwardedUser]
@Id_User int,
@Id_Award int
AS
BEGIN
	INSERT INTO AwardedUser(Id_User, Id_Award)
	VALUES (@Id_User, @Id_Award)
	SELECT SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[AddAwardImage]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddAwardImage]
	@Id_Award INT,
	@Image VARBINARY(MAX)
AS
BEGIN
	UPDATE Award
	SET "Image" = @Image
	WHERE Id_Award = @Id_Award
END
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddUser]
@Name nvarchar(100),
@DateOfBirth date
AS
BEGIN
	INSERT INTO "User"("Name", DateOfBirth)
	VALUES (@Name, @DateOfBirth)
	SELECT SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[AddUserImage]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddUserImage]
	@Id_User INT,
	@Image VARBINARY(MAX)
AS
BEGIN
	UPDATE "User"
	SET "Image" = @Image
	WHERE Id_User = @Id_User
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteAwardById]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteAwardById]
	@Id_Award int
AS
BEGIN
	DELETE
		FROM AwardedUser
		WHERE Id_Award = @Id_Award
	DELETE 
		FROM Award 
		WHERE Id_Award = @Id_Award
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteAwardedUser]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteAwardedUser]
@Id_User int,
@Id_Award int
AS
BEGIN
	DELETE
		FROM AwardedUser
		WHERE Id_User = @Id_User
			AND Id_Award = @Id_Award
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteAwardImage]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteAwardImage]
	@Id_Award INT
AS
BEGIN
	UPDATE Award
	SET "Image" = NULL
	WHERE Id_Award = @Id_Award
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteAwardToAllUsers]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteAwardToAllUsers]
@Id_Award int
AS
BEGIN
	DELETE
		FROM AwardedUser
		WHERE Id_Award = @Id_Award
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteUserById]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteUserById]
	@Id_User int
AS
BEGIN tran
	DELETE 
		FROM AwardedUser
		WHERE Id_User = @Id_User
	DELETE 
		FROM "User" 
		WHERE Id_User = @Id_User
COMMIT 
RETURN
GO
/****** Object:  StoredProcedure [dbo].[DeleteUserImage]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteUserImage]
	@Id_User INT
AS
BEGIN
	UPDATE "User"
	SET "Image" = NULL
	WHERE Id_User = @Id_User
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllAwardedUsers]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllAwardedUsers]

AS
BEGIN
	SELECT	A.Id_User,
			A.Id_Award
	FROM AwardedUser A
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllAwards]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllAwards]

AS
BEGIN
	SELECT	A.Id_Award,
			A.Title,
			A."Image"
	FROM Award A
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllUsers]
AS
BEGIN
	SELECT	U.Id_User,
			U."Name",
			U.DateOfBirth,
			U."Image"
	FROM "User" U
END
GO
/****** Object:  StoredProcedure [dbo].[GetAwardById]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAwardById]
	@Id_Award int
AS
BEGIN
	SELECT	A.Id_Award,
			A.Title,
			A."Image"
	FROM Award A
	WHERE Id_Award = @Id_Award
END
GO
/****** Object:  StoredProcedure [dbo].[GetAwardedUsersByAwardId]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAwardedUsersByAwardId]
@Id_Award int
AS
BEGIN
	SELECT	A.Id_User,
			A.Id_Award
	FROM AwardedUser A
	WHERE Id_Award = @Id_Award
END
GO
/****** Object:  StoredProcedure [dbo].[GetAwardedUsersByUserId]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAwardedUsersByUserId]
@Id_User int
AS
BEGIN
	SELECT	A.Id_User,
			A.Id_Award
	FROM AwardedUser A
	WHERE Id_User = @Id_User
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserById]
	@Id_User int
AS
BEGIN
	SELECT	U.Id_User,
			U."Name",
			U.DateOfBirth,
			U."Image"
	FROM "User" U
	WHERE Id_User = @Id_User
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateAward]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateAward]
@Id_Award int,
@Title nvarchar (100)
AS
BEGIN
	UPDATE Award
	SET Title = @Title
	WHERE Id_Award = @Id_Award
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 24.02.2019 7:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateUser]
@Id_User int,
@Name nvarchar (100),
@DateOfBirth date
AS
BEGIN
	UPDATE "User"
	SET "Name" = @Name, DateOfBirth = @DateOfBirth
	WHERE Id_User = @Id_User
END
GO
USE [master]
GO
